BasedOnStyle : Google
Language : Cpp
SpaceBeforeParens : false
IndentWidth : 4
IncludeBlocks : Regroup
BreakConstructorInitializers : BeforeComma
AllowAllArgumentsOnNextLine : false
AllowAllParametersOfDeclarationOnNextLine : false
AllowAllConstructorInitializersOnNextLine : false
AlignEscapedNewlines : Right
AlignOperands : true
AlignConsecutiveDeclarations : true
AlignConsecutiveAssignments : true
MaxEmptyLinesToKeep : 2
TabWidth : 4
Standard : Auto
NamespaceIndentation : All
Cpp11BracedListStyle : true
SpacesInSquareBrackets : false
SpacesInAngles : false
SpacesBeforeTrailingComments : 1
BreakBeforeBraces : Attach
KeepEmptyLinesAtTheStartOfBlocks : true
DerivePointerAlignment : true
DerivePointerBinding : false
AllowShortIfStatementsOnASingleLine : false
AllowShortLoopsOnASingleLine : false
PointerBindsToType : true
BinPackParameters : false
IndentCaseLabels : true
AllowAllParametersOfDeclarationOnNextLine : false
AlignConsecutiveMacros : true
IndentPPDirectives : BeforeHash
AllowShortBlocksOnASingleLine : true
AllowShortFunctionsOnASingleLine : true
BreakConstructorInitializersBeforeComma : true
AlignTrailingComments : true
BreakBeforeTernaryOperators : false
ColumnLimit : 0
AccessModifierOffset : -4